 
         body {
          font-family: Arial, sans-serif;
          background-color: #63d03f;
          padding: 20px;
      }
      
      #button-container {
          text-align: center;
          margin: 20px;
          margin-bottom: 20px;  }
      
      #promise-button {
          background-color: #4CAF50;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          align-items: center;
      }
      
      #promise-button:hover {
          background-color: #3e8e41;
      }
      
      #result-div {
          margin: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #fff;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          margin-bottom: 20px; 
      }


      button
      {
        background-color: #4CAF50;
        color: #ffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      